apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      component: web
  template:
    metadata:
      labels:
        component: web
    spec:
      containers:
        - name: web
          image: mkumor/multi-client-k8s:latest
          ports:
            - containerPort: 3000
          resources:          # <-- tutaj ustawiasz requests i limits
            requests:
              cpu: "100m"      # minimalne zasoby, które pod "rezerwuje"
              memory: "128Mi"
            limits:
              cpu: "250m"      # maksymalne zasoby, które pod może użyć
              memory: "256Mi"