apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: redis
  template:
    metadata:
      labels:
        component: redis
    spec:
      containers:
        - name: redis
          image: redis
          ports:
            - containerPort: 6379
          resources:          # <-- tutaj ustawiasz requests i limits
            requests:
              cpu: "100m"      # minimalne zasoby, które pod "rezerwuje"
              memory: "128Mi"
            limits:
              cpu: "250m"      # maksymalne zasoby, które pod może użyć
              memory: "256Mi"